parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between App\\Models\\User and Illuminate\\Contracts\\Auth\\MustVerifyEmail will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: '#^Variable \$catalog on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: app/Console/Commands/FetchBambooCatalog.php

		-
			message: '#^Parameter \#1 \$string of function str expects string\|null, float\|int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Helpers/numbers_helper.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, float\|int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Helpers/numbers_helper.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BambooBrandResource\:\:\$brand_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BambooBrandResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BambooBrandResource\:\:\$country\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BambooBrandResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BambooBrandResource\:\:\$currency\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BambooBrandResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BambooBrandResource\:\:\$image\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BambooBrandResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\BambooBrandResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/BambooBrandResource.php

		-
			message: '#^Parameter \#1 \$array \(array\{''Laravel\\\\Fortify\\\\Actions\\\\EnsureLoginIsNotThrottled'', ''Laravel\\\\Fortify\\\\Actions\\\\RedirectIfTwoFactorAuthenticatable'', ''Laravel\\\\Fortify\\\\Actions\\\\AttemptToAuthenticate'', ''Laravel\\\\Fortify\\\\Actions\\\\PrepareAuthenticatedSession''\}\) to function array_filter does not contain falsy values, the array will always stay the same\.$#'
			identifier: arrayFilter.same
			count: 1
			path: app/Providers/FortifyServiceProvider.php

		-
			message: '#^Access to an undefined property App\\Models\\Cart\:\:\$items\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/CartService.php

		-
			message: '#^Access to an undefined property App\\Models\\ExchangeCurrency\:\:\$rates\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/ExchangeService.php

		-
			message: '#^Access to an undefined property App\\Models\\ExchangeCurrency\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/ExchangeService.php
